<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="public/css/style-add-car.css">
    <script src="https://kit.fontawesome.com/d10620c300.js" crossorigin="anonymous"></script>
    <title> Add Car </title>
</head>
<body>
    <div class = "all-content">
        <div class ="add-car">
            <div class="add-car-nav">
                <button class="second-button-form" type="submit">Add Car</button>
            </div>
            <div  class ="form-add-client">
                <form class = form-class id = "navForm" method="POST" action="/dodaj_usluge" >
                    <div class = "first-form">
                        <label>Car model:</label>
                         <input type="text" name="car_model">
                    </div>
                    <div class = "first-form">
                        <label>Body type:</label>
                        <input type= "text" name="body_type">    
                    </div>
                    <div class = "first-form">
                        <label>Year of production:</label>
                         <input type ="date" name="year_production">
                    </div>
                    <div class = "first-form">
                        <label>Car mileage:</label>
                         <input type="number" name="car_mileage">
                    </div>
                    <div class = "first-form">
                        <label>Color:</label>
                         <input type="text" name="color">
                    </div>
    

            
                        
                    </form>
            </div>
            <div class="come-back-client-button">
                <a href="clients.html" class="client-menu">Client</a>
            </div>
        </div>
    </div>
</body>
