<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style-client.css">
    <script src="https://kit.fontawesome.com/d10620c300.js" crossorigin="anonymous"></script>
    <script src="../Js/scrypt.js"></script>
    <title> Clients Page </title>
</head>
<body>
    <div class="all-container">
        <div class="client-container">
            <nav>
                 <!-- <a class="menu-small-window" href = "#">MENU      ^ </a> -->
                <div class="nav-title" id="navTitle">
                    <p class = "menu-icons-style"><i class="fa-solid fa-bars"></i></p>
                </div>
                <ul id="navUl">
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <a href="clients.html" class="client-menu">Client</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-calendar-days"></i>
                        <a href="calender.html" class="client-menu">Calender</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <a href="history.html" class="client-menu">History</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-sack-dollar"></i>
                        <a href="price-list.html" class="client-menu">Price list</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-gear"></i>
                        <a href="login.html" class="client-menu">Login</a>
                    </li>
                </ul>

            
            </nav>
            <main class="main">
                <header class = "header">
                    <div class="add-client">
                        <i class="fa-solid fa-plus"></i>
                         add client
                    </div>
                    <div class="search-client">
                        <form class="form-class1">
                            <input class="search-class" placeholder="search client">
                        </form>
                    </div>
                </header>
                <section class="client-section">
                    <div class = "clientss"  id = "client-1"> 
                        <div>
                            <h2>Name</h2>
                            <p>Mariusz Hodana</p>
                        <img class="image-client" src="../img/clients/client.svg">
                        </div>
                        <div class = "elo">
                            <div class = "data-class-grid">
                                <h4>Adress</h4>
                                <p>Myślenice</p>
                                <h4>Phone-Number</h4>
                                <p>321312321</p>
                                <h4>Email</h4>
                                <p>Mariuszelo@gmal.</p>
                                <h4>Car-Model</h4>
                                <p>Seat Leon</p>
                                <h4>Car-Vin</h4>
                                <p>dsadasdsas</p>
                            </div>
                        </div>
                    </div>
                    <div class = "clientss" id = "client-2">
                        <div>
                            <h2>Name</h2>
                            <p>Mariusz Hodana</p>
                        <img class="image-client" src="../img/clients/client.svg">
                        </div>
                        <div class = "elo">
                            <div class = "data-class-grid">
                                <h4>Adress</h4>
                                <p>Myślenice</p>
                                <h4>Phone-Number</h4>
                                <p>321312321</p>
                                <h4>Email</h4>
                                <p>Mariuszelo@gmal.</p>
                                <h4>Car-Model</h4>
                                <p>Seat Leon</p>
                                <h4>Car-Vin</h4>
                                <p>dsadasdsas</p>
                            </div>
                        </div>
                    </div>
                    <div class = "clientss" id = "client-3">
                        <div>
                            <h2>Name</h2>
                            <p>Mariusz Hodana</p>
                        <img class="image-client" src="../img/clients/client.svg">
                        </div>
                        <div class = "elo">
                            <div class = "data-class-grid">
                                <h4>Adress</h4>
                                <p>Myślenice</p>
                                <h4>Phone-Number</h4>
                                <p>321312321</p>
                                <h4>Email</h4>
                                <p>Mariuszelo@gmal.</p>
                                <h4>Car-Model</h4>
                                <p>Seat Leon</p>
                                <h4>Car-Vin</h4>
                                <p>dsadasdsas</p>
                            </div>
                        </div>
                    </div>
                    <div class = "clientss" id = "client-4"> 
                        <div>
                            <h2>Name</h2>
                            <p>Mariusz Hodana</p>
                        <img class="image-client" src="../img/clients/client.svg">
                        </div>
                        <div class = "elo">
                            <div class = "data-class-grid">
                                <h4>Adress</h4>
                                <p>Myślenice</p>
                                <h4>Phone-Number</h4>
                                <p>321312321</p>
                                <h4>Email</h4>
                                <p>Mariuszelo@gmal.</p>
                                <h4>Car-Model</h4>
                                <p>Seat Leon</p>
                                <h4>Car-Vin</h4>
                                <p>dsadasdsas</p>
                            </div>
                        </div>
                    </div>
                    <div class = "clientss" id = "client-5"> 
                        <div>
                            <h2>Name</h2>
                            <p>Mariusz Hodana</p>
                        <img class="image-client" src="../img/clients/client.svg">
                        </div>
                        <div class = "elo">
                            <div class = "data-class-grid">
                                <h4>Adress</h4>
                                <p>Myślenice</p>
                                <h4>Phone-Number</h4>
                                <p>321312321</p>
                                <h4>Email</h4>
                                <p>Mariuszelo@gmal.</p>
                                <h4>Car-Model</h4>
                                <p>Seat Leon</p>
                                <h4>Car-Vin</h4>
                                <p>dsadasdsas</p>
                            </div>
                        </div>
                    </div>
                    <div class = "clientss" id = "client-6"> 
                        <div>
                            <h2>Name</h2>
                            <p>Mariusz Hodana</p>
                        <img class="image-client" src="../img/clients/client.svg">
                        </div>
                        <div class = "elo">
                            <div class = "data-class-grid">
                                <h4>Adress</h4>
                                <p>Myślenice</p>
                                <h4>Phone-Number</h4>
                                <p>321312321</p>
                                <h4>Email</h4>
                                <p>Mariuszelo@gmal.</p>
                                <h4>Car-Model</h4>
                                <p>Seat Leon</p>
                                <h4>Car-Vin</h4>
                                <p>dsadasdsas</p>
                            </div>
                        </div>
                    </div>
                    <!-- <table class="table-class">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Client_Id</th>
                                <th>Name</th>
                                <th>Car_Model</th>
                                <th>Adress</th>
                                <th>Car_Vin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i class="fa-solid fa-user"></i></td>
                                <td>1</td>
                                <td>Mariusz</td>
                                <td>Seat</td>
                                <td>Stróża</td>
                                <td>dasdadas12312312</td>
                            </tr>
                        </tbody>
                    </table> -->
                </section>
            </main>
        </div>
        <div class="footer">
            <div class = "facebook">
                <img class="facebook-img" src="../img/facebook.svg">
                <a href="Do Facebooka"></a>
            </div>
            <img class="logo-img2" src="../img/logo2.svg">
            
            
        </div>
    </div>
</body>