<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style-login.css">
    <title> Login Page </title>
</head>
<body>
    <div class="container">
        <div class= " login-all">
            <div class="login-field-container">
            <form class="form-class-with-field">
                    <input class= "field-email" name="email" type="tex" placeholder="email@email.com">
                    <input class="field-password"  name="password" type="password" placeholder="password">
    
                </form>
            </div>
            <div class = "button-login-container">
                
                    <button class="button-log-in" type="submit">Log in</button>
                    <button class="button-sign-up" type="button">Sign Up</button>  
                
                </div>
        </div>    
        <div class="logo">
            <img class="logo-img" src="../img/logo.svg">
        </div>
    </div>
</body>