/* login */
body {
    margin: 0;
}
.container
{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #D12A2A 0%, #390808 0%, #775B5B 0%, #A99E9E 100%) 0% 0% no-repeat padding-box;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
*{
    font-size: 100%;
}

.logo
{
    display: flex;
    width: 60%;
    height: 65%;
    justify-content: center;
    text-align: center;
    margin-left: 2%
}
.logo-img{
    width: 90%;
}

.login-all
{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 55%;
    margin-left: 5%;

    background: #FFFFFFD1 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #3173A500;
    border: 1px solid #000000;
    border-radius: 60px;
    opacity: 1;
}

.button-login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;

}

form.form-class-with-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.login-field-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
   height: 60%;
   
}
.form-class-with-field{
    height: 70%;
    width: 20%;
}
.field-email{
    width: 400%;
    height: 50%;
    margin: 15%;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #090000;
    border-radius: 14px;
    opacity: 1;
}
.field-password{
    width: 400%;
    height: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #090000;
    border-radius: 14px;
    opacity: 1;
}
.button-log-in{
    width: 40%;
    height: 80%;

    background: #A99E9E 0% 0% no-repeat padding-box;
    border: 1px solid #090000;
    border-radius: 22px;
    opacity: 1;
    
}
.button-sign-up{
    width:40%;
    height: 80%;
    margin-left: 5%;

    background: #A99E9E 0% 0% no-repeat padding-box;
    border: 1px solid #090000;
    border-radius: 22px;
    opacity: 1;
}

@media only screen and (max-device-width: 420px){
    .container {
        flex-direction: column;
        background-color:transparent linear-gradient(180deg, #D12A2A 0%, #390808 0%, #775B5B 0%, #A99E9E 100%) 0% 0% no-repeat padding-box;
    }
    
    * {
        font-size: 46px;
    }
    .login-field-container{
        align-items:center ;
    }
    .button-login-container {
        flex-direction: column;
        justify-content: center;

        margin-bottom: 10%;
    
    }
    .button-log-in{
        margin-bottom: 5%;
        background: #A99E9E 0% 0% no-repeat padding-box;
        border: 1px solid #090000;
        border-radius: 34px;
        opacity: 1;
    }
    .button-sign-up{
        margin-left: 0%;
        background: #A99E9E 0% 0% no-repeat padding-box;
        border: 1px solid #090000;
        border-radius: 34px;
        opacity: 1;
    }
    .login-all{
        width: 100%;
        height: 80%;
        margin: 0;
        border-radius: 0;
        border : 0;
       }
       .logo{
        height: 20%;
        justify-content: center;
        align-items:center;
        
       }
       .field-email{
        border: 1px solid #090000;
        border-radius: 70px;
        opacity: 1;
       }
       .field-password{
        border: 1px solid #090000;
        border-radius: 70px;
        opacity: 1;
       }
       .logo-img{
        width: 100%;
        height: 100%;
        
       }
       
       
/* client   */


}
.all-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    
}
.client-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 85%;
}
.footer{
    display: flex;
    flex-direction: row;
    height:15%;
    width: 100%;
    box-sizing: border-box;
    background: transparent linear-gradient(180deg, #D12A2A 0%, #390808 0%, #775B5B 0%, #A99E9E 100%) 0% 0% no-repeat padding-box;
    
}
.menu-small-window{
    display: none;
}
.main{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;

}

nav{
    height: 100%;
    width: 20%;
    background: #ECE8E8 0% 0% no-repeat padding-box;
}

.nav-title
{
    display: none;
}

a{
    text-decoration: none;
    display: inline-block;
    line-height: 3em;
}

nav li i{
    font-size:1.2em ;
    
}

.client-menu{
    width: 65%;
    background: #A99E9E 0% 0% no-repeat padding-box;
    border: 1px solid #090000;
    border-radius: 1em;
    opacity: 1;

    margin-left: 1em;
    text-align: center;
    color: #FFFFFF;
    padding: 0.3em;
    opacity: 1;
}

nav ul{
    list-style-type: none;
    color: #A99E9E;
    font: normal normal medium 40px/19px Poppins;
    letter-spacing: 1px;
    height: 95%;
    position: relative;
}

.nav-ul-hidden {
    display: block;
}

nav li:hover{
    color: #775B5B ;
}

nav li{
    text-align:left;
    margin-bottom: 1em;
}

.client-menu:hover{
    background: #775B5B 0% 0% no-repeat padding-box;
}





.header{
    display: flex;
    justify-content: space-between;
    height: 15%;

    
    
    
    
}
.client-section{
    height: 85%;
    margin-top: 5%;
    overflow: auto;
}
.add-client{
    width: 30%;
    text-align: center;
    margin: 1%;
    padding: 0.7em 0em;

    font-size: large;
    font: normal normal medium 40px/19px Poppins;
    letter-spacing: 0.8px;
    color: #775B5B;
    opacity: 1;
    

    background: #ECE8E8 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
}
.add-client:hover{
    background: #775B5B 0% 0% no-repeat padding-box;
    color: white;
}
.search-client{
    width: 70%;
    text-align: center;
    
    padding: 1.4em 0em 0em 0em;

}
form.form-class1{
    height: 100%;
}
.search-class{
    text-align: center;
    width: 80%;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #090000;
    border-radius: 28px;
    opacity: 1;
}
.logo-img2{
    height: 100%;
    width: 70%;
}
.facebook{
    width: 70%;
    height: 100%;
    margin-right: 25%;
    text-align: center;

   
}
.facebook-img{
    margin-top: 8%;
    height: 35%;
}

.table-class{
    border: 1px solid #000000;
    font-size: 10px;
    margin-left: 3%;
    
}

/* @media only screen and (min-width: 768px) {
    .all-container {
      height: 100vh;
      width: 100vw;
    }
  
    .client-container {
      flex-direction: row;
    }
  
    .main {
      height: 100%;
    }
  
    nav {
      width: 20%;
    }
  

  
    .header {
      height: 15%;
    }
  }
  

@media only screen and (max-device-width: 420px){

.all-container{
    width: 113.5vw;
    height: 113.5vh;
    flex-direction: column;
    position: relative;
}

.client-container{
    flex-direction: column;
    position: relative;
}

.header{
    flex-direction: column;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
}
ul{
    width: 80%;
    
}
a:focus + ul{
    display: block;
}

.main{
    height: 30%;
}
li:last-child{
    width: 95%;
}
} */
@media only screen and (max-device-width: 420px){

    .all-container{
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        position: relative;
    }
    
    .client-container{
        flex-direction: column;
        position: relative;
    }
    
    .header{
        flex-direction: column;
    }

    .nav-title{
        display: block;
    }
    
    nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    ul{
        width: 80%;
        /* display: none; */
    }

    .nav-ul-hidden{
        display: none;
    }

    a:focus + ul{
        display: block;
    }
    
    .main{
        height: 30%;
    }
}