body {
    margin: 0;
}
*{
    font-size: 23px;
}


.all-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    
}
.client-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 85%;
}
.footer{
    display: flex;
    flex-direction: row;
    height:15%;
    width: 100%;
    box-sizing: border-box;
    background: transparent linear-gradient(180deg, #D12A2A 0%, #390808 0%, #775B5B 0%, #A99E9E 100%) 0% 0% no-repeat padding-box;
    
}
.menu-small-window{
    display: none;
}
.main{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;

}

nav{
    height: 100%;
    width: 30%;
    background: #ECE8E8 0% 0% no-repeat padding-box;
}

.nav-title
{
    display: none;
}

a{
    text-decoration: none;
    display: inline-block;
    line-height: 3em;
}

nav li i{
    font-size:1.2em ;
    
}

.client-menu{
    width: 65%;
    background: #A99E9E 0% 0% no-repeat padding-box;
    border: 1px solid #090000;
    border-radius: 1em;
    opacity: 1;

    margin-left: 1em;
    text-align: center;
    color: #FFFFFF;
    padding: 0.3em;
    opacity: 1;
}

nav ul{
    list-style-type: none;
    color: #A99E9E;
    font: normal normal medium 40px/19px Poppins;
    letter-spacing: 1px;
    height: 95%;
    position: relative;
}

.nav-ul-hidden {
    display: block;
}

nav li:hover{
    color: #775B5B ;
}

nav li{
    text-align:left;
    margin-bottom: 1em;
}

.client-menu:hover{
    background: #775B5B 0% 0% no-repeat padding-box;
}





.header{
    display: flex;
    justify-content: space-between;
    height: 15%;

    
    
    
    
}
.client-section{
    height: 85%;
    margin-top: 5%;
    overflow: auto;
}
.add-client{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    margin: 1%;
    padding: 0.7em 0em;

    font-size: large;
    font: normal normal medium 40px/19px Poppins;
    letter-spacing: 0.8px;
    color: #775B5B;
    opacity: 1;
    

    background: #ECE8E8 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
}
.add-client:hover{
    background: #775B5B 0% 0% no-repeat padding-box;
    color: white;
}
.search-client{
    width: 70%;
    text-align: center;
    
    padding: 1.4em 0em 0em 0em;

}
form.form-class1{
    height: 100%;
}
.search-class{
    text-align: center;
    width: 80%;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #090000;
    border-radius: 28px;
    opacity: 1;
}
.logo-img2{
    height: 100%;
    width: 70%;
}
.facebook{
    width: 70%;
    height: 100%;
    margin-right: 25%;
    text-align: center;

   
}
.facebook-img{
    margin-top: 8%;
    height: 35%;
}

.table-class{
    border: 1px solid #000000;
    font-size: 10px;
    margin-left: 3%;
    
}

 @media only screen and (min-device-width:768px) and (max-device-width: 1023px) {
    *{
        font-size: 25px;
    }
    nav{
        width: 45%;
    }
    nav li{
        height: 10%;
        margin-bottom: 2em;
    }
    nav li i{
        font-size:2em ;
        
    }

    
  
    .add-client{
        height: 40%;
        margin: 2%;
    }

  }
  


@media only screen and (max-device-width: 767px){
    * {
        font-size: 46px;
    }
    
    .all-container{
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        position: relative;
    }
    
    .client-container{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 85%;
    }
    

    .nav-title{
        display: block;
        color: #775B5B;
    }
    
    nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 1px solid #000000;
        
    }

    ul{
        width: 80%;
        /* display: none; */
    }

    .nav-ul-hidden{
        display: none;
    }

    a:focus + ul{
        display: block;
    }
    .main{
        margin-top: 15%;
        width: 100%;
    }
    .header{
        flex-direction: column;
        width: 100%;
        height: 20%;
    }
    .client-section{
        height: 80%;

        margin: 0;
    }
    .search-client{
        order: 1;
        width: 100%;
        padding: 0;
        height: 35%;
        
    
    }
    .search-class{
        width: auto;
        border-radius: 0;
        border: none;
        height: 100%;
        /* display: none; */

    }
    .add-client{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;

        order: 2;
        padding: 0;
        margin: 0;
        letter-spacing: 0;
        border: none;

        font-size: 46px;
        height:60%;
        width: 100%;
        border-radius: 0;
        border-top: 1px solid #090000;
        border-bottom: 1px solid #000000;
    }
    .client-section{
        margin-top: 5%;
    }
   
    

    .footer{
        height: 15%;
    }
    .facebook{
        display: flex;
        justify-content: center;
        align-items: center;
    }

      
}