body{
    margin: 0;
}

.all-content{
    width: 100vw;
    height: 100vh;
}

.add-client{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.add-client-nav{
    background-color: white;
    border: 3px solid #775B5B;
    border-radius: 10px;
    opacity: 1;

    width: 15%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3%;
    margin-top: 2%;
}

.add-client-nav button{
    width: 100%;
    height: 100%;
    color: #775B5B;
    border-radius: 10px;

}
.add-client-nav button:hover{
    background-color: white;
}

.add-client-nav h1{
    text-align: center;
}

.form-add-user{


    display: flex;
    flex-direction: column;
}

.register{
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}
.come-back-client-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 15%;
    color: #775B5B;
    border-radius: 10px;
    border: 3px solid #775B5B;
    margin-top: 3%;

}
.come-back-client-button a{
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #775B5B;
}
.come-back-client-button a :hover{
    background-color: white;
}

.first-form{
    margin-bottom: 2%;
    color: #775B5B;
    font-family: 'Roboto', sans-serif;
    height: 30%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.first-form input{
    background-color: white;
    color: #775B5B;
    border: 1px solid #775B5B;
    border-radius: 10px;
    opacity: 1;

    flex-grow: 1;
}

div h1{
    font-family: 'Montserrat', sans-serif;
    color: #775B5B;
    height: 30%;
    margin: 0;
}

.each-price p{
    font-size: 70%;
    font-family: 'Roboto', sans-serif;
    color: #808083;
    overflow:auto;
    padding-bottom: 1%;

}
input{
    text-align: center;
}


*{
    font-size: 25px;
}

@media only screen and (min-device-width:768px) and (max-device-width: 1023px) {
    *{
        font-size: 28px;
    }
}

@media only screen and (max-device-width: 767px){
    * {
        font-size: 46px;
    }
}